<!-- <ul class="list-group">
  <li class="list-group-item">Monday</li>
  <li class="list-group-item">Tuesday</li>
  <li class="list-group-item">Wednesday</li>
  <li class="list-group-item">Thursday</li>
  <li class="list-group-item">Friday</li>
</ul> -->
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Monday
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <ul class="list-group">
        <li class="list-group-item">Dish 1</li>
        <li class="list-group-item">Dish 2</li>
        <li class="list-group-item">Dish 3</li>
        <li class="list-group-item">Dish 4</li>
        <li class="list-group-item">Dish 5</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Tuesday
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <ul class="list-group">
        <li class="list-group-item">Dish 1</li>
        <li class="list-group-item">Dish 2</li>
        <li class="list-group-item">Dish 3</li>
        <li class="list-group-item">Dish 4</li>
        <li class="list-group-item">Dish 5</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Wednesday
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <ul class="list-group">
        <li class="list-group-item">Dish 1</li>
        <li class="list-group-item">Dish 2</li>
        <li class="list-group-item">Dish 3</li>
        <li class="list-group-item">Dish 4</li>
        <li class="list-group-item">Dish 5</li>
      </ul>
    </div>
  </div>
</div>
