<div class="grid_12 menu-section" id="ankkaruokia">
  <figcaption class="menu-headline">Ankka Ruokia</figcaption>
  <table class="menu-table">
    <tr>
      <td class="menu-table-name">43. Pekingin ankkaa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">21,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">44. Ankkaa kantonilaiseen tapaan <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">21,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">45. Ankkaa chilikastikkeessa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">21,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">46. Ankkaa punaviinikastikkeessa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">21,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">47. Ankkaa sataya kastike <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">21,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">48. Friteerattuja jättikatkarapuja (8kpl) <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">18,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">49. Jättikatkarapu kun- po <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">20,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">50. Jättikatkarapu ja sekavihanneksia <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">20,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">51. Höyrystetty kokonainen kuha, mustapapukastike <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">30,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">52. Mustekalaa mustapapukastikkeessa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">18,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">53. Katkarapu ja kesäkurpitsa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">18,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">54. Höyrystetty jättikatkarapu ja valkosipuli <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">22,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">55. Kuhaa ja sekavihanneksia <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">20,00&nbsp;€</td>
    </tr>

</table>
</div>
