<h2><em>Ruokalistat</em></h2>
  <div class="row">
      <div class="grid_4">
          <div class="img"><div class="lazy-img menu-gallery-pic" style="padding-bottom: 55.94594594594595%;"><img data-src="images/content/menu_gallery/3.jpg" alt=""></div></div>
      </div>
      <div class="grid_4">
          <div class="img"><div class="lazy-img menu-gallery-pic" style="padding-bottom: 55.94594594594595%;"><img data-src="images/content/menu_gallery/2.jpg" alt=""></div></div>
      </div>
      <div class="grid_4">
          <div class="img"><div class="lazy-img menu-gallery-pic" style="padding-bottom: 55.94594594594595%;"><img data-src="images/content/menu_gallery/4.jpg" alt=""></div></div>
      </div>
  </div>
