<div class="grid_12 menu-section" id="haranliharuokia">
  <figcaption class="menu-headline">Häränliharuokia</figcaption>
  <table class="menu-table">
    <tr>
      <td class="menu-table-name">19. Häränlihaa 0sterikastikkeessa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">14,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">20. Häränlihaa Pekingiläiseen tapaan <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">14,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">21. Häränlihaa ja sipulia <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">14,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">22. Häränlihaa ja ananasta <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">14,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">23. Häränlihaa chilikastikkeessa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">14,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">24. Häränlihaa ja kiinalaisia sieniä <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">14,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">25. Häränlihaa ja sekavihanneksia <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">14,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">26. Häränlihaa karrikastikkeessa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">14,00&nbsp;€</td>
    </tr>
  </table>
</div>
