<div class="grid_12 menu-section" id="jalkiruokia">
  <figcaption class="menu-headline">Jälkiruokia</figcaption>
  <table class="menu-table">
    <tr>
      <td class="menu-table-name">73. Friteerattu banaani ja jäätelö <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">5,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">74. Jäätelöpallo vanilja- tai suklaakastikkeessa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">5,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">75. Jäätelöä ja hedelmiä <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">5,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">76. Honkong jäätelöä <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">5,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">78. Onnenkeksi <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">1,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">79. Kahvia <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">2,50&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">80. Teetä (vihreä tee, Jasmin tee, oolong tee  ) <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">2,50&nbsp;€</td>
    </tr>
</table>
</div>
