<div class="grid_12 menu-section" id="juoma">
  <figcaption class="menu-headline">Juoma</figcaption>
  <table class="menu-table menu-jouma">
    <tr>
      <td class="menu-table-jouma-name">Pepsi</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.33 L</span>
        &nbsp;&nbsp;&nbsp;2,50&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.5 L</span>
        &nbsp;&nbsp;&nbsp;3,50&nbsp;€
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">7 up</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.33 L</span>
        &nbsp;&nbsp;2,50&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.5 L</span>
        &nbsp;&nbsp;3,50&nbsp;€
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Jaffa</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.33 L</span>
        &nbsp;&nbsp;2,50&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.5 L</span>
        &nbsp;&nbsp;3,50&nbsp;€
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Novelle vichy</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.5 L</span>
        &nbsp;&nbsp;3,00&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.5 L</span>
        &nbsp;&nbsp;5,50&nbsp;€
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Ice tee</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.33 L</span>
        &nbsp;&nbsp;3,50&nbsp;€
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Mehu/Maitto</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">lasi</span>
        &nbsp;&nbsp;3,00&nbsp;€
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Lapin Kulta III</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.5 L</span>
        &nbsp;&nbsp;5,50&nbsp;€
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Lapin Kulta IVA</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.33 L</span>
        &nbsp;&nbsp;5,50&nbsp;€
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Heineken 4.6%</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.33 L</span>
        &nbsp;&nbsp;5,50&nbsp;€
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Sol 4.5%</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.33 L</span>
        &nbsp;&nbsp;5,50&nbsp;€
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Asahi japanilainen lager 5%</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.33 L</span>
        &nbsp;&nbsp;5,50&nbsp;€
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Krusovic Cerne Tumma 3.8%</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.5 L</span>
        &nbsp;&nbsp;6,50&nbsp;€
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Tsintao 4,7% Vaalea</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.33 L</span>
        &nbsp;&nbsp;5,50&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Gato Negro Cabernet Savignon 75cl</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">12 cl.</span>
        &nbsp;&nbsp;5,50&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">16 cl.</span>
        &nbsp;&nbsp;7,20&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">Pullo 75 cl.</span>
        &nbsp;&nbsp;32,20&nbsp;€
      </td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Gato Negro Sauvignon Blanc 75cl</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">12 cl.</span>
        &nbsp;&nbsp;5,50&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">16 cl.</span>
        &nbsp;&nbsp;7,20&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">Pullo 75 cl.</span>
        &nbsp;&nbsp;32,20&nbsp;€
      </td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">J. P. Chenet</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0,25 cl.</span>
        &nbsp;&nbsp;9.00o&nbsp;€/pullo
      </td>
      <td class="menu-table-jouma-price">
      </td>
      <td class="menu-table-jouma-price">
      </td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Freixenet Gordon Negro Cava Brut</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0,20 cl.</span>
        &nbsp;&nbsp;8.60&nbsp;€/pullo
      </td>
      <td class="menu-table-jouma-price">
      </td>
      <td class="menu-table-jouma-price">
      </td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">El Tempo 75cl</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">12 cl.</span>
        &nbsp;&nbsp;5,50&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">16 cl.</span>
        &nbsp;&nbsp;7,20&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">Pullo 75 cl.</span>
        &nbsp;&nbsp;32,20&nbsp;€
      </td>
    </tr>

</table>
</div>
