<div class="grid_12 menu-section" id="juoma">
  <figcaption class="menu-headline">Juoma</figcaption>
  <table class="menu-table menu-jouma">
    <tr>
      <td class="menu-table-jouma-name">Coca cola</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.33 L</span>
        &nbsp;&nbsp;&nbsp;2,50&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.5 L</span>
        &nbsp;&nbsp;&nbsp;3,50&nbsp;€
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">7 up</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.33 L</span>
        &nbsp;&nbsp;2,50&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.5 L</span>
        &nbsp;&nbsp;3,50&nbsp;€
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Jaffa</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.33 L</span>
        &nbsp;&nbsp;2,50&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.5 L</span>
        &nbsp;&nbsp;3,50&nbsp;€
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Olut</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.33 L</span>
        &nbsp;&nbsp;4,00&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.5 L</span>
        &nbsp;&nbsp;5,50&nbsp;€
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Tsingtao</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">0.33 L</span>
        &nbsp;&nbsp;5,50&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Talous punaviini</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">12 cl.</span>
        &nbsp;&nbsp;5,50&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">16 cl.</span>
        &nbsp;&nbsp;7,20&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">Pullo 72 cl.</span>
        &nbsp;&nbsp;32,20&nbsp;€
      </td>
    </tr>
    <tr>
      <td class="menu-table-jouma-name">Taous valkoviini</td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">12 cl.</span>
        &nbsp;&nbsp;5,50&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">16 cl.</span>
        &nbsp;&nbsp;7,20&nbsp;€
      </td>
      <td class="menu-table-jouma-price">
        <span class="menu-table-volumn">Pullo 72 cl.</span>
        &nbsp;&nbsp;32,20&nbsp;€
      </td>
    </tr>

</table>
</div>
