<div class="grid_12 menu-section" id="kanaruokia">
  <figcaption class="menu-headline">Kanaruokia</figcaption>
  <table class="menu-table">
    <tr>
      <td class="menu-table-name">35. Friteerattua kanaa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">36. Kung po kanaa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">37. Kanaa ja ananasta <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">38. Kanaa chilikastikkeessa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">39. Kanaa karrikastikkeessa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">40. Kanaa mustapapukastikkeessa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">41. Kanaa sitruunakastikkeessa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">42. Kanaa ja sekavihanneksia <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
</table>
</div>
