<div class="grid_12 menu-section" id="kasvisruokia">
  <figcaption class="menu-headline">Kasvisruokia</figcaption>
  <table class="menu-table">
    <tr>
      <td class="menu-table-name">56. Vihannes chop suey (sekavihannes) <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">12,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">57. Parsakaali ja kiinalaisia sieniä <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">58. Tofua ja kiinalaisia sieniä soijakastikkeessa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">59. Ma po tofua (tulinen) <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">60. Vihanneksia Pekingiläiseen tapaan <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">12,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">61. Paistettuja kiinalaisia vihanneksia <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
</table>
</div>
