<div class="grid_12 menu-section" id="porsaanliharuokia">
  <figcaption class="menu-headline">Porsaanliharuokia</figcaption>
  <table class="menu-table">
    <tr>
      <td class="menu-table-name">27. Porsaanlihaa hapanimeläkastikkeessa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">28. Paahdettua porsaanlihaa kantonilaiseen tapaan <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">15,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">29. Porsaanlihaa mustapapukastikkeessa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">30. Porsaanlihaa, sipulia ja mustapippuri  <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">31. Porsaanlihaa Pekingiläiseen tapaan <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">32. Porsaanlihaa, bambu ja Herkkusieniä  <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">33. Porsaanlihaa ja cashew pähkinöitä <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">34. Pippurilla maustettua porsaanlihaa (tulinen) <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">15,00&nbsp;€</td>
    </tr>
</table>
</div>
