<div class="grid_12 menu-section" id="riisiajanuudeleita">
  <figcaption class="menu-headline">Riisiä ja Nuudeleita</figcaption>
  <table class="menu-table">
    <tr>
      <td class="menu-table-name">62. Paistettua nuudelia ja vihanneksi <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">12,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">63. Paistettua nudelia, kanaa ja vihanneksia <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">64. Paistettua Wu don nuudelia ja äyriäisiä <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">15,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">65. Paistettua Wu don nuudelia ja härkää mustapippurikastikkeessa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">15,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">66. Paistettua riisiä kantonilaiseen tapaan <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">12,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">67. Paistettua riisiä ja kanaa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">12,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">68. Won-tun nuudelikeittoa ja vihanneksia <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">15,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">69. Nuudelikeittoa ja äyriäisiä <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">15,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">70. Kanaa nuudelikeitossa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">13,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">71. Härkää nuudelikeitossa <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">15,00&nbsp;€</td>
    </tr>
    <tr>
      <td class="menu-table-name">72. Paistettua nuudelia <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
      <td class="menu-table-price">4,00&nbsp;€</td>
    </tr>

</table>
</div>
