<div class="grid_12 menu-section" id="alkupalaa">
  <figcaption class="menu-headline">Alkupalaa</figcaption>
  <table class="menu-table">
  <tr>
    <td class="menu-table-name">1. Äyriäiskeitto <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">6,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">2. Kana – maissikeitto <span class="menu-table-dash"> . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">5,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">3. Kiinalainen sieni – kanakeitto <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">5,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">4. Won – tun keitto <span class="menu-table-dash"> . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">6,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">5. Vihanneskeitto <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">5,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">6. Peking keitto <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">5,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">7. Merilevä – kananmunakeitto <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">5,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">8. Miso keitt <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">5,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">9. Tom – Yam keitto äyriäisillä <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">6,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">10. Kevätrulla kanalla/vihanneksilla <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">5,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">11. Friteerattuja jättikatkarapuja ( 4kpl ) <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">9,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">12. Friteerattu mustekalarengas <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">6,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">13. Friteerattu Wont tun ( 4kpl ) <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">6,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">14. Friteerattu lajitelma ( jättikatkarapu, kevätkääryle, mustekalarengas,won-tun keitto ) <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">10,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">15. Höyrystetyt katkarapupallot ( 4kpl ) <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">7,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">16. Höyrystetyt porsaanlihapallot ( 4kpl ) <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">6,50&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">17. Paistetut lihanyytit ( 4kpl ) <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">7,00&nbsp;€</td>
  </tr>
  <tr>
    <td class="menu-table-name">18. Dim-sum laitelma ( katkarapupallo, porsaanlihapallo, lihanyytti (possua), pulla porsaanlihatäytteellä ) <span class="menu-table-dash"> . . . . . . . . . . . . . . . . . . . . . .</span></td>
    <td class="menu-table-price">12,00&nbsp;€</td>
  </tr>
</table>
</div>
