<div class="grid_12 menu-section">
  <figcaption class="menu-headline">Sushi Lista</figcaption>
  <ul class="menu-table">
    <li class="sushi-item">
      <div class="sushi-title menu-table-name">1. 12kpl​​​​&nbsp;&nbsp;16.00&nbsp;€</div>
      <ul class="sushi-description">
        <li>4x maki ( avokado+lohi )</li>
        <li>4x maki ( lohi )</li>
        <li>4x lohi Nigiri</li>
      </ul>
    </li>
    <li class="sushi-item">
      <div class="sushi-title menu-table-name">2. 12kpl​​​​​​​​&nbsp;&nbsp;16.00&nbsp;€</div>
      <ul class="sushi-description">
        <li>4x sesamaroll ( avokado+lohi )</li>
        <li>4x sesamaroll ( lohi )</li>
        <li>4x lohi Nigiri</li>
      </ul>
    </li>
    <li class="sushi-item">
      <div class="sushi-title menu-table-name">3. 14kpl​​​​​​​​&nbsp;&nbsp;17,50&nbsp;€</div>
      <ul class="sushi-description">
        <li>4x maki ( lohi )</li>
        <li>4x sesamaroll ( avokado+lohi )</li>
        <li>3x lohi Nigir</li>
        <li>3x katkarapu Nigiri</li>
      </ul>
    </li>
    <li class="sushi-item">
      <div class="sushi-title menu-table-name">4. 10kpl​​​​​​​​&nbsp;&nbsp;13,50&nbsp;€</div>
      <ul class="sushi-description">
        <li>2x Tofu Nigiri</li>
        <li>2x Kanamuna Nigiri</li>
        <li>3x Lohi Nigiri</li>
        <li>3x Katkarapu Nigiri</li>
      </ul>
    </li>
    <li class="sushi-item">
      <div class="sushi-title menu-table-name">5. 24kpl​​​​​​​​&nbsp;&nbsp;29,90&nbsp;€</div>
      <ul class="sushi-description">
        <li>4x maki ( lohi )</li>
        <li>4x maki ( avokado+lohi )</li>
        <li>4x sesamaroll ( avokado+lohi )</li>
        <li>4x sesamaroll ( lohi )</li>
        <li>4x lohi Nigiri</li>
        <li>4x Katkarapu Nigiri</li>
      </ul>
    </li>
    <li class="sushi-item">
      <div class="sushi-title menu-table-name">6. 20kpl​​​​​​​​&nbsp;&nbsp;25,90&nbsp;€</div>
      <ul class="sushi-description">
        <li>4x sesamaroll ( avokado+lohi )</li>
        <li>4x maki ( lohi+avokada )</li>
        <li>4x maki ( lohi )</li>
        <li>2x kanamuna Nigiri</li>
        <li>2x Lohi Nigiri</li>
        <li>2x Katkarapu Nigiri</li>
        <li>2x Tofu Nigiri</li>
      </ul>
    </li>
    <li class="sushi-item">
      <div class="sushi-title menu-table-name">7. 32kpl​​​​​​​​&nbsp;&nbsp;39,90&nbsp;€</div>
      <ul class="sushi-description">
        <li>4x Maki ( lohi )</li>
        <li>4x Maki ( lohi+avokado )</li>
        <li>4x Sesamaroll ( avokado+lohi )</li>
        <li>4x Sesamaroll ( lohi )</li>
        <li>4x Lohi Nigiri</li>
        <li>3x Kanamuna Nigiri</li>
        <li>3x Tofu Nigiri</li>
        <li>4x Katkarapu Nigiri</li>
        <li>2x Tako Nigiri</li>
      </ul>
    </li>
    <li class="sushi-item">
      <div class="sushi-title menu-table-name">8. 20kpl​​​​​​​​&nbsp;&nbsp;38,90&nbsp;€</div>
      <ul class="sushi-description">
        <li>8x Lohi Nigiri</li>
        <li>4x Avokado roll ( kurkku+kanamuna )</li>
        <li>4x Lohi roll ( Kurkku+lohi+rapu )</li>
        <li>4x Punakaviaariroll ( avokado+lohi+rapu )</li>
        <li>4x Keltakaviaari roll ( kurkku+rapu )</li>
      </ul>
    </li>
    <li class="sushi-item">
      <div class="sushi-title menu-table-name">9. 20kpl​​​​​​​​&nbsp;&nbsp;29,90&nbsp;€</div>
      <ul class="sushi-description">
        <li>4x Lohi Nigiri</li>
        <li>4x Maki ( avokado+lohi )</li>
        <li>4x Maki ( Merilevä+lohi )</li>
        <li>4x Punakaviaariroll ( lohi+kurkku+rapu )</li>
        <li>4x Lohi roll ( kurkku+rapu)</li>
      </ul>
    </li>
    <li class="sushi-item">
      <div class="sushi-title menu-table-name">10. 24kpl​​​​​​​​&nbsp;&nbsp;34,90&nbsp;€</div>
      <ul class="sushi-description">
        <li>6x Tofu Nigiri</li>
        <li>6x Kanamuna Nigiri</li>
        <li>6x Katkarapu Nigiri</li>
        <li>6x Lohi Nigiri</li>
      </ul>
    </li>
    <li class="sushi-item">
      <div class="sushi-title menu-table-name">11. 32kpl​​​​​​​​&nbsp;&nbsp;59,90&nbsp;€</div>
      <ul class="sushi-description">
        <li>6x Katkarapu Nigiri</li>
        <li>6x Lohi Nigiri</li>
        <li>4x Maki( shiqimiä+rapu+lohi )</li>
        <li>4x Maki( kanamuna+rapu+kurkku)</li>
        <li>4x Keltakaviaari roll( kurkku+rapu)</li>
        <li>4x Sesama roll ( Lohi )</li>
        <li>4x Avokado roll ( kurkku+rapu+kanamuna )</li>
      </ul>
    </li>
    <li class="sushi-item">
      <div class="sushi-title menu-table-name">12. 36kpl​​​​​​​​&nbsp;&nbsp;64,90&nbsp;€</div>
      <ul class="sushi-description">
        <li>2x Kanamuna Nigiri</li>
        <li>6x Katarapu Nigiri</li>
        <li>6x Lohi Nigiri</li>
        <li>2x Tako Nigiri</li>
        <li>4x Lohi roll( kurkku+rapu+lohi)</li>
        <li>4x Avokado roll
    ( kurkku+kanamuna+rapu )</li>
        <li>4x Keltakaviaari roll
    (avokado+lohi+rapu)</li>
        <li>4x Sesama roll ( lohi )</li>
        <li>4x Punakaviaari roll
    (avokado+lohi+rapu)</li>
      </ul>
    </li>
    <li class="sushi-item">
      <div class="sushi-title menu-table-name">13. 36kpl​​​​​​​​&nbsp;&nbsp;64,90&nbsp;€</div>
      <ul class="sushi-description">
        <li>6x Katkarapu Nigiri</li>
        <li>6x Lohi Nigiri</li>
        <li>4x Maki ( merilevä+lohi+rapu)</li>
        <li>4x Maki ( shiqimiä+lohi+rapu)</li>
        <li>4x Maki (Kanamuna+rapu+kurkku)</li>
        <li>4x Keltakaviaari roll
 ( Lohi+rapu+avokado )</li>
        <li>4x Sesama roll ( lohi )</li>
        <li>4x Punakaviaari roll
 ( Lohi+rapu+avokado )</li>
      </ul>
    </li>
    <li class="sushi-item">
      <div class="sushi-title menu-table-name">14. 56kpl​​​​​​​​&nbsp;&nbsp;188,80&nbsp;€</div>
      <ul class="sushi-description">
        <li>8x Katkarapu Nigiri</li>
        <li>8x Lohi Nigiri</li>
        <li>4x Maki ( lohi )</li>
        <li>4x Maki ( kurkku+lohi )</li>
        <li>4x Maki ( Merilevä+lohi+rapu )</li>
        <li>4x Maki ( shiqimiä+lohi+rapu )</li>
        <li>4x Maki ( kanamuna+kurkku+rapu )</li>
        <li>4x Lohi roll ( kurkku+lohi+rapu )</li>
        <li>4xAvokado roll
 ( Kanamuna+kurkku+rapu )</li>
        <li>4x Keltakaviaari roll
 ( Avokado+lohi+rapu )</li>
        <li>4x Sesama roll ( Lohi )</li>
        <li>4x Punakaviaari roll
 ( Lohi+rapu+avokado )</li>
      </ul>
    </li>
  </ul>
</div>
