<div class="gallery">
<div class="gallery__wrapper">
<div class="row">
  <div class="gallery__item">
    <div class="gallery__image"><img src="images/content/gallery/133614063_d9bbfa27d9_z.jpg" alt="food" /></div>
  </div>
  <div class="gallery__item">
    <div class="gallery__image"><img src="images/content/gallery/6758793169_fcb28949af_z.jpg" alt="food" /></div>
  </div>
  <div class="gallery__item">
    <div class="gallery__image"><img src="images/content/gallery/108757786_1031f35800_z.jpg" alt="food" /></div>
  </div>
  <div class="gallery__item">
    <div class="gallery__image"><img src="images/content/gallery/2745938812_1dc4cb6feb.jpg" alt="food" /></div>
  </div>
</div>
</div>
</gallery>
