<div class="gallery">
<div class="gallery__wrapper">
<div class="row">
  <div class="gallery__item">
    <div class="gallery__image"><img src="images/content/gallery/1.jpg" alt="food" /></div>
  </div>
  <div class="gallery__item">
    <div class="gallery__image"><img src="images/content/gallery/2.jpg" alt="food" /></div>
  </div>
  <div class="gallery__item">
    <div class="gallery__image"><img src="images/content/gallery/3.jpg" alt="food" /></div>
  </div>
  <div class="gallery__item">
    <div class="gallery__image"><img src="images/content/gallery/4.jpg" alt="food" /></div>
  </div>
</div>
</div>
</gallery>
