<!DOCTYPE html>
<html lang="en">
<head>
    <title>Food House</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/camera.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">

    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>

    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <script src='js/device.min.js'></script>
</head>

<body>
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header>

        <div class="camera_container">
            <div id="camera" class="camera_wrap">
              <div data-thumb="images/content/heros/h_002_thumb.jpg" data-src="images/content/heros/h_002.jpg">
                  <div class="camera_caption fadeIn">
                  </div>
              </div>
              <div data-thumb="images/content/heros/h_003_thumb.jpg" data-src="images/content/heros/h_003.jpg">
                  <div class="camera_caption fadeIn">
                  </div>
              </div>
                <div data-thumb="images/content/heros/h_001_thumb.jpg" data-src="images/content/heros/h_001.jpg">
                    <div class="camera_caption fadeIn">
                    </div>
                </div>
            </div>

            <div class="brand wow fadeIn">
                <h1 class="brand_name">
                    <a href="./">Food House</a>
                    <img src="images/logo.png" alt="logo" class="new-logo"/>
                </h1>
            </div>
        </div>

        <!-- <div class="toggle-menu-container">
            <nav class="nav">
                <div class="nav_title"></div>
                <a class="sf-menu-toggle fa fa-bars" href="#"></a>
                <ul class="sf-menu">
                    <li class="active">
                        <a href="./">Home</a>
                    </li>
                    <li>
                        <a href="index-1.html">About</a>
                        <ul>
                            <li>
                                <a href="#">Quisque nulla</a>
                            </li>
                            <li>
                                <a href="#">Vestibulum libero</a>
                                <ul>
                                    <li>
                                        <a href="#">Lorem</a>
                                    </li>
                                    <li>
                                        <a href="#">Dolor</a>
                                    </li>
                                    <li>
                                        <a href="#">Sit amet</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Vivamus eget nibh</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="index-2.html">What We Do</a>
                    </li>
                    <li>
                        <a href="index-3.html">Menu</a>
                    </li>
                    <li>
                        <a href="index-4.html">Contacts</a>
                    </li>
                </ul>
            </nav>
        </div> -->

    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section class="well">
            <div class="container">
                <h2><em>Tervetuloa</em> Ravintola Food House</h2>
                <div class="row">
                    <div class="grid_6">
                        <div class="img img__border"><div class="lazy-img" style="padding-bottom: 63.0282%;"><img data-src="images/page-1_img01.jpg" alt=""></div></div>
                        <!-- <p class="center indents-1">We provide Buffet这里上方放午餐自动台的照片</p> -->
                    </div>
                    <div class="grid_6">
                        <div class="img img__border"><div class="lazy-img" style="padding-bottom: 63.0282%;"><img data-src="images/page-1_img02.jpg" alt=""></div></div>
                        <p class="center indents-1">We provide Dinner take away.这里上方放晚餐桌的照片</p>
                    </div>
                </div>
                <h2><em>Yhdellä silmäyksellä</em></h2>
            </div>
            <div class="gallery">
                <div class="gallery_col-1">
                    <div data-fancybox-group="gallery" href="images/page-1_img03_original.jpg" class="gallery_item thumb lazy-img" style="padding-bottom: 93.96551724137931%;">
                        <img data-src="images/content/ruokalista/018.jpg" alt="">
                        <div class="gallery_overlay">
                            <div class="gallery_caption">
                                <p><em>牛肉</em></p>
                                <p>洋葱，牛肉，大蒜。。这里只放一些比较经典菜的照片</p>
                            </div>
                        </div>
                    </div>
                    <div data-fancybox-group="gallery" href="images/page-1_img04_original.jpg" class="gallery_item thumb lazy-img" style="padding-bottom: 74.13793103448276%;">
                      <img data-src="images/content/ruokalista/024.jpg" alt="">
                    </div>
                    <div data-fancybox-group="gallery" href="images/page-1_img05_original.jpg" class="gallery_item thumb lazy-img" style="padding-bottom: 94.6551724137931%;">
                      <img data-src="images/content/ruokalista/027.jpg" alt="">
                    </div>
                </div>
                <div class="gallery_col-2">
                    <div data-fancybox-group="gallery" href="images/page-1_img06_original.jpg" class="gallery_item thumb lazy-img" style="padding-bottom: 52.48322147651007%;">
                      <img data-src="images/content/ruokalista/032.jpg" alt="">
                    </div>
                    <div data-fancybox-group="gallery" href="images/page-1_img07_original.jpg" class="gallery_item thumb lazy-img" style="padding-bottom: 55.97315436241611%;">
                      <img data-src="images/content/ruokalista/013.jpg" alt="">
                    </div>
                    <div data-fancybox-group="gallery" href="images/page-1_img08_original.jpg" class="gallery_item thumb lazy-img" style="padding-bottom: 96.10738255033557%;">
                      <img data-src="images/content/ruokalista/014.jpg" alt="">
                    </div>
                </div>
                <div class="gallery_col-3">
                    <div data-fancybox-group="gallery" href="images/page-1_img09_original.jpg" class="gallery_item thumb lazy-img" style="padding-bottom: 93.69676320272572%;">
                      <img data-src="images/content/ruokalista/011.jpg" alt="">
                    </div>
                    <div data-fancybox-group="gallery" href="images/page-1_img10_original.jpg" class="gallery_item thumb lazy-img" style="padding-bottom: 72.23168654173765%;">
                      <img data-src="images/content/ruokalista/012.jpg" alt="">
                    </div>
                    <div data-fancybox-group="gallery" href="images/page-1_img11_original.jpg" class="gallery_item thumb lazy-img" style="padding-bottom: 93.69676320272572%;">
                      <img data-src="images/content/ruokalista/030.jpg" alt="">
                    </div>
                </div>
            </div>
<!--             <div class="decoration"><a href="#" class="btn">View Our Menus</a><br/><br/><br/></div>
 -->        </section>
        <!-- <section class="parallax parallax1" data-parallax-speed="-0.4">
            <div class="container">
                <h2><em>Our </em>Experience</h2>
                <p class="indents-2">Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl auctor vel veliterol. sed,pharetra venenatis nulla. Vestibulum volutpat turpis ut massa commodo, quis aliquam massa facilisis.Integer convallis orci vel mi nelaoreet, at ornare lorem consequat. Phasellus era nisl auctor vel veliterol. sed,pharetra venenatis nulla. Vestibulum volutpat turpis ut massa commodo, quis aliquam massa facilisis. Vestibulum volutpat turpis ut massa commodo, quis aliquam massa facilisis.Integer convallis orci </p>
                <a href="#" class="btn">View full menu</a>
            </div>
        </section> -->
        <section class="well well__offset-1 bg-1">
            <div class="container">
                <h2><em>Palvelumme</em></h2>
                <div class="row row__offset-1">
                    <div class="grid_4">
                        <figure>
                            <figcaption>Lounasbuffet</figcaption>
                        </figure>
                        <h3>Arkisin 11:00 - 15:00</h3>
                        <p>
                            Yli 30 eri ruokalajia on tarjolla lounasbuffetissa, johon kuuluu salaattipöytä, keitto, sushi, kiinalainen ruoka, kahvi ja tee sekä vaihtuva jälkiruoka.</p>
                          </ol>
                        </p>
                    </div>
                    <div class="grid_4">
                        <figure>
                            <figcaption>Päivällinen</figcaption>
                        </figure>
                        <h3>A la carte menu</h3>
                        <p>Tarjontaamme kuuluu yli 70 autenttista ja herkullista kiinalaista ruokalajia.</p>
                    </div>
                    <div class="grid_4">
                        <figure>
                            <!-- <div class="img lazy-img" style="padding-bottom: 101.0810810810811%;"><img data-src="images/page-1_img14.jpg" alt=""></div> -->
                            <figcaption>Ota mukaan</figcaption>
                        </figure>
                        <h3>Saat 15% alennuksen normaalihinnasta</h3>
                        <p>Erinomainen tapa nauttia ruokasi edulliseen hintaan haluamassasi paikassa.</p>
                    </div>
                    <div class="grid_4" style="clear: both;">
                        <figure>
                            <figcaption>Kuljetus</figcaption>
                        </figure>
                        <h3>Hetkessä hyvää ruokaa kotiin kuljetettuna.</h3>
                        <p>Tee tilauksesi <a href="https://www.foodora.fi/restaurant/s0zl/food-house">Foodoran</a> kautta.</p>
                    </div>
                    <div class="grid_4">
                        <figure>
                            <figcaption>Catering</figcaption>
                        </figure>
                        <h3>Sinun paikka, meidän tarjoilu</h3>
                        <p>Räätälöidemme toiveidesi mukaan sinulle ja vieraillesi ikimuistoisen tilaisuuden.</p>
                    </div>
                    <div class="grid_4">
                        <figure>
                            <figcaption>Yksityistilaisuudet</figcaption>
                        </figure>
                        <h3>Tapahtumat ja juhlat</h3>
                        <p>Ravintolassamme on tilaa yli 300m<sup>2</sup> ja sinne mahtuu jopa 130 henkeä. Ravintolamme on erinomainen paikka mm. yritysjuhlille ja matkatoimistojen turistiryhmille.</p>
                    </div>
                </div>
                <!-- <div class="decoration"><a href="#" class="btn">Read more</a></div> -->
            </div>
        </section>
        <div class="wrapper">
          <img src="something" alt="" class="hello">
          <img src="" alt="" class="hello">
          <img src="" alt="" class="hello">
          <img src="" alt="" class="hello">
        </div>
        <section class="well well__offset-2">
            <div class="container center">
                <h2><em>Yhteystiedot</em></h2>
                <p class="indents-2">Sijaitsemme 200 metrin päässä Pasilan juna-asemalta. Ilmainen pysäköinti asiakkaillemme.</p>
                <address class="address-1">
                    <p><img src="images/content/map.jpg"/ style="width: 50%;"></p>
                    <br/>
                    <dl><dt>Osoite:</dt> <dd>Esterinportti 2， 00240 Helsinki</dd></dl>
                    <p><em>046 9390358</em></p>
                    <br/>
                    <dl><dt>Arkisin klo 9.00-21.00</dt></dl>
                    <dl><dt>La-Su klo 11:00-21.00</dt></dl>
                </address>
            </div>
        </section>
    </main>

    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer>
        <div class="container">
            <ul class="socials">
                <li><a href="https://www.facebook.com/ravintolafoodhouse" class="fa fa-facebook"></a></li>
            </ul>
            <div class="copyright">© Food House <span id="copyright-year"></span>
            </div>
        </div>
    </footer>
</div>

<script src="js/script.js"></script>
</body>
</html>
